body{
   background-color: black;}

h1{
   color: aquamarine;
   font-family: Arial, Helvetica, sans-serif;
   padding-left: 1cm;}

p{
  color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 2cm;}

td{
   color: antiquewhite;}

a{
  font-family: Arial, Helvetica, sans-serif;}

img{
    padding-left: 2cm;}

table{
      font-family: Arial, Helvetica, sans-serif;
      border: 1px solid #1A2929;
      border-collapse: collapse;
      }

th{
   color: black;
   background-color: aquamarine;}

tr:hover{
         background-color: rgb(0, 127, 247);}